<% provide :page_title, 'Редагування сторінок' %>
<div class="card shadow p-4 mb-4">
  <h2 class="mb-4">Редагування тексту сторінок</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Сторінка</th>
        <th>Дія</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.slug == 'about' ? 'Про нас' : 'Головна' %></td>
          <td><%= link_to 'Редагувати', edit_admin_editable_page_path(page), class: 'btn btn-sm btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
