<% if page.current? %>
  <li class="page-item active bg-primary text-white">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link bg-primary text-white border-primary' %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %>
  </li>
<% end %>
